<ion-content padding>
	<form [formGroup]="playerForm"  (ngSubmit)="savePlayer(playerForm)">
		<ion-item>
		    <ion-label>First Name</ion-label>
		    <ion-input type="text" formControlName="first_name"></ion-input>
		</ion-item>
		<ion-item>
		    <ion-label>Last Name</ion-label>
		    <ion-input type="text" formControlName="last_name"></ion-input>
		</ion-item>
		<ion-item>
		    <ion-label>Position</ion-label>
		    <ion-input type="text" formControlName="position"></ion-input>
		</ion-item>
		<ion-item>
		    <ion-label>Country</ion-label>
		    <ion-input type="text" formControlName="country"></ion-input>
		</ion-item>
		<ion-item>
		    <ion-label>Squad Number</ion-label>
		    <ion-input type="number" formControlName="squad_number"></ion-input>
		</ion-item>
		<ion-item>
		    <ion-label>League Appearances</ion-label>
		    <ion-input type="number" formControlName="league_appearances"></ion-input>
		</ion-item>
		<ion-item>
		    <ion-label>League Yellow Cards</ion-label>
		    <ion-input type="number" formControlName="league_yellow_cards"></ion-input>
		</ion-item>
		<ion-item *ngIf="false">
		    <ion-label>Player Id</ion-label>
		    <ion-input type="number" formControlName="player_id"></ion-input>
		</ion-item>
		<button ion-button type="submit" block  [disabled]="!playerForm.valid">Save Player</button>
	</form>

</ion-content>
